:root {
  --green: rgb(111, 184, 127);
  --background: rgb(20, 20, 20);
  --light-grey: rgb(197, 197, 197);
}

body {
  padding: 0;
  margin: 0;
  background: var(--background);
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

.nav-wrapper {
  box-shadow: 0 1px 8px 4px #000;
}
.nav-wrapper .logo {
  height: 22px;
}
.nav-wrapper .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-wrapper .nav-container ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}
.nav-wrapper .nav-container ul li {
  padding: 20px 0px;
}
.nav-wrapper .nav-container ul li a {
  padding: 20px 20px;
  font-weight: 600;
  position: relative;
  color: var(--light-grey);
  transition: 0.5s all;
}
.nav-wrapper .nav-container ul li a.active {
  color: var(--green);
  transition: 0.5s all;
}
.nav-wrapper .nav-container ul li a.active::after {
  background: var(--green);
}
.nav-wrapper .nav-container ul li a::after {
  background: var(--background);
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
  z-index: 0;
}
.nav-wrapper .nav-container ul li a:hover {
  color: var(--green);
}

.home-big-text {
  color: var(--green);
}

.home-search-container {
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.582);
  width: 60%;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 15px;
}
.home-search-container .search-icon {
  width: 20px;
}
.home-search-container input {
  flex: 1;
  background: transparent;
  border: none;
  margin: 0 10px;
  outline: none;
  color: #fff;
}
.home-search-container button {
  background: var(--green);
  color: var(--background);
  font-weight: 700;
  border-radius: 5px;
  padding: 5px 20px;
  outline: none;
  border: none;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid var(--background);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.466);
  border-radius: 10px;
  overflow: hidden;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items a {
  display: block;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(46, 46, 46);
  border-bottom: 1px solid var(--background);
}
.autocomplete-items a:hover {
  background-color: var(--green);
}
.autocomplete-items a:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}
.autocomplete-items .search-image {
  height: 50px;
  min-width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 15px;
}

.autocomplete-active {
  background-color: rgba(60, 99, 69, 0.9) !important;
  color: #ffffff;
}

.filter-wrapper {
  border-bottom: 1px solid var(--green);
}
.filter-wrapper ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
}
.filter-wrapper ul li {
  margin-right: 15px;
  font-weight: 700;
  transition: 0.4s all;
  cursor: pointer;
}
.filter-wrapper ul li.active {
  color: var(--green);
}
.filter-wrapper ul li:hover {
  color: rgba(255, 255, 255, 0.76);
}

.movie-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.movie-card {
  height: auto;
  width: 20%;
  border: 0px solid var(--light-grey);
  padding: 10px;
  padding-bottom: 0;
  overflow: hidden;
  position: relative;
}
.movie-card .movie-rating {
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  height: 2.6vw;
  width: 2.6vw;
  border-radius: 100px;
  font-weight: 700;
  color: var(--green);
  border: 3px solid var(--green);
}
.movie-card .movie-title span {
  font-weight: 700;
  color: var(--green);
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.movie-card .movie-image {
  height: 40vh;
  border-radius: 10px;
  overflow: hidden;
}
.movie-card .movie-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.movie-card .release-date {
  font-size: 13px;
  color: var(--light-grey);
  display: inline-block;
  border: 1px solid rgb(70, 70, 70);
  padding: 0 5px;
  border-radius: 5px;
}
.movie-card .movie-add-to-fav-btn {
  border: none;
  background: none;
  color: var(--green);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  outline: none;
  cursor: pointer;
}
.movie-card .movie-add-to-fav-btn svg {
  font-size: 20px;
}

.btn-green {
  background: var(--green);
  font-weight: 700;
  border-radius: 0;
  width: 20%;
  outline: none;
  box-shadow: none;
}
.btn-green:disabled {
  opacity: 0.4;
}

.t-primary {
  color: var(--green);
}

.bold {
  font-weight: 700;
}

.contact-page .form-control {
  background: var(--light-grey);
}
.contact-page .icon-section svg {
  font-size: 24px;
}
.contact-page .icon-section span {
  font-size: 13px;
}
.contact-page a:hover {
  transition: 0.4s all;
  color: var(--green) !important;
}

.login-page .form-control {
  background: var(--light-grey);
}/*# sourceMappingURL=main.css.map */